@{
    ViewData["Title"] = "Home Page";
}
<!-- ***** Main Banner Area Start ***** -->
<div class="main-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center">
                <div class="header-text">
                    <h6>Liberty NFT Market</h6>
                    <h2>Create, Sell &amp; Collect Top NFT’s.</h2>
                    <p>Liberty NFT Market is a really cool and professional design for your NFT websites. This HTML CSS template is based on Bootstrap v5 and it is designed for NFT related web portals. Liberty can be freely downloaded from TemplateMo's free css templates.</p>
                    <div class="buttons">
                        <div class="border-button">
                            <a href="explore.html">Explore Top NFTs</a>
                        </div>
                        <div class="main-button">
                            <a href="https://youtube.com/templatemo" target="_blank">Watch Our Videos</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="owl-banner owl-carousel">
                    <div class="item">
                        <img src="~/assets/images/banner-01.png" alt="">
                    </div>
                    <div class="item">
                        <img src="~/assets/images/banner-02.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->

<div class="categories-collections">
    <div class="container">
        <div class="row">
           @await Component.InvokeAsync("Category")
            @await Component.InvokeAsync("Film")
        </div>
    </div>
</div>
<div class="create-nft">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="section-heading">
                    <div class="line-dec"></div>
                    <h2>Cập nhập những bộ phim mới & hay nhất</h2>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="main-button">
                    <a href="create.html">Xem ngay</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="item first-item">
                    <div class="number">
                        <h6>1</h6>
                    </div>
                    <div class="icon">
                        <img src="assets/images/icon-02.png" alt="">
                    </div>
                    <h4>Phim lẻ mới cập nhập</h4>
                    <p>Phim lẻ thường gọi là phim chiếu rạp trong ngành điện ảnh hay kỹ thuật số được làm hay sẽ được cập nhập thường xuyên 24/7</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="item second-item">
                    <div class="number">
                        <h6>2</h6>
                    </div>
                    <div class="icon">
                        <img src="assets/images/icon-04.png" alt="">
                    </div>
                    <h4>Phim chiếu rạp</h4>
                    <p>Tổng hợp các phim chiếu rạp mới nhất, hay nhất mọi thời đại với chất lượng tốt nhất mà bạn có thể tìm thấy <a href="#" target="_blank" rel="nofollow">Xem ngay</a>. Bạn có thể xem phim chiếu rạp được cập nhập sớm nhất tại đây</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="item">
                    <div class="icon">
                        <img src="assets/images/icon-06.png" alt="">
                    </div>
                    <h4>Phim dài tập</h4>
                    <p>Tổng hợp những bộ phim dài tập, bộ phim truyền hình hay nhất, được cập nhập sớm nhất. Bạn có thể <a rel="nofollow" href="#" target="_parent">Xem ngay</a>. Những bộ phim dài tập từ các quốc gia khác nhau.</p>
                </div>
            </div>
        </div>
    </div>
</div>
@await Component.InvokeAsync("NewFilms")